body{
    margin: 0px;
    font-family: "consolas";
}
footer{
    background: linear-gradient(50deg,blue,pink);
    height: 100px;
}

.img-logo{
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
}

.conexiones{
    background: linear-gradient(50deg,blue,pink);
    color: white;
    font-size: 12px;
}
.conexiones p{
    margin: 0px;
}
header{
    height: 200px;
}
.navegacion{
    position: relative;
    background-color: rgba(60, 30, 20, 0.2);
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    margin: 0px 30px;
    padding: 10px 30px;
    top: 50px;
}
ul{
    margin: 0px;
}
nav ul li{
    display: inline-block;
    border: 2px solid;
    margin: 10px 20px;
    padding: 10px 10px;
    user-select: none;
}

.form-busqueda{
    position: relative;
    background-color: rgb(240, 229, 229);
    /* height: 150px; */
    margin: 0px 30px;
    border: 2px ridge gray;
    
}

.cuadro-busqueda-titulo{
    background: linear-gradient(50deg,blue,pink);
    height: 20px;
}

.form-busqueda input[type="text"]{
    width: 83%;
    height: 35px;
    border: 2px inset grey;
    margin: 10px;
    font-size: 14px;
    padding-left: 10px;
}
.form-busqueda input[type="button"]{
    width: 100px;
    border: 1px solid grey;
    height: 35px;
    margin-right: 5px;
}
.cuadro-busqueda-resultados{
    position: relative;
    border-top: 2px ridge grey;
    background-color: rgb(240, 229, 229);
    
}
ul{
    padding: 0px;
}
.cuadro-busqueda-resultados ul li {
    background-color: rgb(240, 229, 229);
    text-decoration: none;
    border: 2px inset gray;
    list-style: none;
    width: 83%;
    height: 30px;
    margin: 10px;
    padding-left: 10px;
    border-radius: 2px;
}
/************contenedores gif*******************/
.contenedor-gif{
    background-color: rgb(240, 229, 229);
    height: 200px;
    margin: 30px;
    
}
.encabezado-contenedor-gif{
    position: relative;
    border: 3px inset gray;
    border-radius: 5px;
    color: gray;
    height: 25px;
    padding: 5px 20px;
    font-size: 20px;
    background-color: white;
}
.encabezado-contenedor-gif h6{
    margin: 0px;
}
